#add-reaction-icon {
    background-color: #D5F5E3;
    color: #2ECC71;
}

#warning-icon {
    background-color: red;
    color: #FFF;
}

#all-inclusive-icon {
    background-color: #FAE5D3;
    color: #E67E22;
}
