/* .App {
    text-align: center;
    min-height: 100vh
}

.App-logo {
    width: 5rem;
    pointer-events: none;
}

.App-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#app_button {
    width: 100%;
    text-transform: none;
}

@import url('https://fonts.googleapis.com/css?family=Lato'); */


@keyframes flip-top {
    to {
        transform: rotateX(90deg);
    }
}

@keyframes flip-bottom {
    to {
        transform: rotateX(0deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: "Red Hat Text", sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3rem 1rem;
    background: #121723;
    font-family: "Roboto", "Arial", sans-serif;
    color: #eceff1;
}

h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main .cards {
    display: flex;
    gap: 15px;
}

main .cards .card {
    text-align: center;
    font-size: 25px;
}

main .cards .card p {
    color: #8486a9;
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

main .cards .card .flip-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 7px 3px 0 #151515;
    position: relative;
    margin: 15px auto;
}

main .cards .card .top-half,
main .cards .card .bottom-half,
main .cards .card .top-flip,
main .cards .card .bottom-flip {
    color: #fb6087;
    font-size: 35px;
    height: 43px;
    width: 77px;
    padding: 23px 7px;
    overflow: hidden;
    text-align: center;
    will-change: transform !important;
    box-shadow: 0 3px rgba(71, 83, 115, 0.2) inset;
}

main .cards .card .top-half,
main .cards .card .top-flip {
    color: #d54d6f;
    border-radius: 5px 5px 0 0;
    background-color: #2c2c44;
}

main .cards .card .top-half::before,
main .cards .card .top-flip::before {
    content: "";
    background-color: #191a24;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: -5px;
    left: -5px;
}

main .cards .card .top-half::after,
main .cards .card .top-flip::after {
    content: "";
    background-color: #191a24;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: -5px;
    right: -5px;
}

main .cards .card .bottom-half,
main .cards .card .bottom-flip {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 0 5px 5px;
    background-color: #343650;
    box-shadow: 0 -2px 5px 0 rgba(71, 83, 115, 0.7) inset;
}

main .cards .card .bottom-half::before,
main .cards .card .bottom-flip::before {
    content: "";
    background-color: #191a24;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    left: -5px;
}

main .cards .card .bottom-half::after,
main .cards .card .bottom-flip::after {
    content: "";
    background-color: #191a24;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    right: -5px;
}

main .cards .card .top-flip {
    position: absolute;
    transform-origin: bottom;
    transform: rotateX(0deg);
    animation: flip-top 0.5s ease-in forwards;
}

main .cards .card .bottom-flip {
    position: absolute;
    bottom: 0;
    transform-origin: top;
    transform: rotateX(90deg);
    animation: flip-bottom 0.5s ease-out 0.5s;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://raw.githubusercontent.com/alleycaaat/frontend-mentor/main/countdown-timer/images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    min-height: 20%;
    width: 100%;
    bottom: 0;
}

footer .media {
    margin-top: 60px;
    margin-bottom: 15px;
}

footer .media a {
    text-decoration: none;
    margin: 5px 15px;
}

footer .media a :hover {
    filter: invert(58%) sepia(38%) saturate(4955%) hue-rotate(310deg) brightness(101%) contrast(102%);
}

footer .femc {
    margin-bottom: 10px;
    color: #8486a9;
}

footer .femc a {
    text-decoration: none;
    color: #fb6087;
}

footer .femc a:hover {
    text-transform: lowercase;
}

@media screen and (min-width: 700px) {
    main h1 {
        font-size: 31px;
    }

    main .cards {
        gap: 25px;
    }

    main .cards .top-half,
    main .cards .bottom-half,
    main .cards .top-flip,
    main .cards .bottom-flip {
        font-size: 70px !important;
        height: 80px !important;
        width: 125px !important;
        padding: 34px 7px !important;
    }
}

#logo {
    padding: 2rem;
}

img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    height: auto;
    vertical-align: top;
}

p {
    margin: 0 0 1em;
}

.game-cards {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem 1rem;
    width: 25rem;
    max-width: 100%;
}

.game-card {
    position: relative;
    z-index: 0;
    display: flex;
    flex-flow: column nowrap;
}

.game-card::before {
    content: "";
    aspect-ratio: 0.7;
    width: 100%;
    margin-bottom: 1.75rem;
}

.game-card__front {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
    border-radius: 0.5rem 0.5rem 0 0;
}

.game-card__header {
    display: flex;
    height: 100%;
    pointer-events: auto;
    flex-flow: column nowrap;
    transition: transform 250ms ease;
}

.game-card__cover {
    position: relative;
    aspect-ratio: 0.7;
    background: #37474f;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    overflow: hidden;
}

.game-card__cover>img,
.game-card__image-placeholder {
    aspect-ratio: inherit;
    object-fit: cover;
    height: 100%;
    width: 100%;
    height: auto;
    transition: transform 250ms ease;
}

/* .game-card__image-placeholder {
    display: block;
    background: #7c4dff;
    background-image: linear-gradient(-70deg, rgba(0, 0, 0, 0.15) 60%, transparent 60%), linear-gradient(-20deg, rgba(0, 0, 0, 0.15) 50%, transparent 50%), linear-gradient(40deg, rgba(0, 0, 0, 0.15) 60%, transparent 60%), linear-gradient(-50deg, rgba(0, 0, 0, 0.15) 15%, transparent 15%), linear-gradient(137.42deg, #aa00ff 0%, #7c4dff 50.43%, #304ffe 100%);
    background-repeat: no-repeat;
}

.game-card__image-placeholder.two {
    background-image: linear-gradient(-60deg, rgba(0, 0, 0, 0.15) 60%, transparent 60%), linear-gradient(-15deg, rgba(0, 0, 0, 0.15) 48%, transparent 48%), linear-gradient(45deg, rgba(0, 0, 0, 0.15) 55%, transparent 55%), linear-gradient(-35deg, rgba(0, 0, 0, 0.15) 15%, transparent 15%), linear-gradient(137.42deg, #aa00ff 0%, #7c4dff 50.43%, #304ffe 100%);
}

.game-card__image-placeholder.three {
    background-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.15) 60%, transparent 60%), linear-gradient(-25deg, rgba(0, 0, 0, 0.15) 53%, transparent 53%), linear-gradient(30deg, rgba(0, 0, 0, 0.15) 60%, transparent 60%), linear-gradient(-55deg, rgba(0, 0, 0, 0.15) 15%, transparent 15%), linear-gradient(137.42deg, #aa00ff 0%, #7c4dff 50.43%, #304ffe 100%);
} */

.game-card__title {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: auto;
    font-size: 1rem;
    line-height: 1.25;
    transition: padding 250ms ease;
}

.game-card__touch-target {
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 1;
}

@media (hover: none) and (pointer: coarse) {
    .game-card__touch-target {
        display: block;
    }
}

.game-card__cover-badge {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    padding: 0 0.5em;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 0.25rem;
    background: #37474f;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    transition: opacity 250ms 25ms ease, transform 250ms 25ms ease;
}

.game-card__cover-badge.new {
    background: #4527a0;
}

.game-card__cover-badge.update {
    background: #1565c0;
    width: 1.5rem;
    padding: 0;
}

.game-card__back {
    position: absolute;
    inset: 0;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 0.5rem;
    margin-bottom: 1.75rem;
    background: #191f2d;
    box-shadow: 0 16px 36px rgba(0, 0, 0, 0.15), 0 10px 12px rgba(0, 0, 0, 0.15);
    transition: margin 250ms ease;
}

.game-card__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding: 0.5rem;
    height: 6rem;
    margin-top: auto;
    opacity: 0.1;
    transform: scale(0.6);
    transition: transform 250ms ease, opacity 250ms ease;
}

.game-card__metadata {
    font-size: 0.875rem;
    color: #90a4ae;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.game-card__buttons {
    display: flex;
    gap: 0.25rem;
    margin-top: auto;
}

*+.game-card__buttons {
    padding-top: 0.5rem;
}

.game-card__button {
    appearance: none;
    flex: 0;
    border: none;
    height: 2.5rem;
    min-width: 2.5rem;
    line-height: 2.5rem;
    padding: 0 0.5em;
    text-align: none;
    overflow: hidden;
    background: #253049;
    color: #fff;
    border-radius: 0.3rem;
    text-align: center;
    cursor: pointer;
    transition: background 200ms;
}

.game-card__button:focus-visible {
    outline: 0.25rem solid #303e5f;
    outline-offset: -0.125rem;
}

.game-card__button:active,
.game-card__button:hover {
    background: #303e5f;
}

.game-card__button.-download,
.game-card__button.-play,
.game-card__button.-update {
    flex: 1 1 auto;
}

.game-card__button.-play {
    background: #009688;
    outline-color: #4db6ac;
}

.game-card__button.-play:active,
.game-card__button.-play:hover {
    background: #26a69a;
}

.game-card__button.-update {
    background: #1565c0;
    outline-color: #1e88e5;
}

.game-card__button.-update:active,
.game-card__button.-update:hover {
    background: #1976d2;
}

.game-card__button.-download {
    background: #4527a0;
    outline-color: #ece9f6;
}

.game-card__button.-download:hover {
    background: #512da8;
}

.game-card.expanded .game-card__header,
.game-card:hover .game-card__header,
.game-card:focus .game-card__header,
.game-card:focus-within .game-card__header {
    transform: translatey(-6rem);
    transition-duration: 300ms;
    transition-delay: 100ms;
}

.game-card.expanded .game-card__cover>img,
.game-card.expanded .game-card__image-placeholder,
.game-card:hover .game-card__cover>img,
.game-card:hover .game-card__image-placeholder,
.game-card:focus .game-card__cover>img,
.game-card:focus .game-card__image-placeholder,
.game-card:focus-within .game-card__cover>img,
.game-card:focus-within .game-card__image-placeholder {
    transition-duration: 300ms;
    transform: translateY(3rem);
    transition-delay: 100ms;
}

.game-card.expanded .game-card__title,
.game-card:hover .game-card__title,
.game-card:focus .game-card__title,
.game-card:focus-within .game-card__title {
    transition-duration: 300ms;
    padding-inline: 0.5rem;
    transition-delay: 100ms;
}

.game-card.expanded .game-card__cover-badge,
.game-card:hover .game-card__cover-badge,
.game-card:focus .game-card__cover-badge,
.game-card:focus-within .game-card__cover-badge {
    transition-duration: 150ms, 150ms;
    transition-delay: 100ms, 100ms;
    opacity: 0;
    transform: translateY(100%);
}

.game-card.expanded .game-card__touch-target,
.game-card:hover .game-card__touch-target,
.game-card:focus .game-card__touch-target,
.game-card:focus-within .game-card__touch-target {
    display: none;
}

.game-card.expanded .game-card__back,
.game-card:hover .game-card__back,
.game-card:focus .game-card__back,
.game-card:focus-within .game-card__back {
    margin-bottom: 0;
    transition-duration: 300ms;
    transition-delay: 100ms;
}

.game-card.expanded .game-card__content,
.game-card:hover .game-card__content,
.game-card:focus .game-card__content,
.game-card:focus-within .game-card__content {
    opacity: 1;
    transform: scale(1);
    transition-duration: 300ms;
    transition-delay: 50ms;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}